/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
body {
  overflow-x: hidden;
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */

/*
=============== 
Navbar
===============
*/
nav span {
  color: var(--clr-primary-5);
}
nav h2 {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5rem;
  margin-left: 0.5rem;
  /* padding-left: -2rem; */
}
nav i {
  color: var(--clr-primary-5);
  font-size: 2rem;
  padding-top: 0.2rem;
  cursor: pointer;
}
nav h4 {
  display: none;
  /* margin-left: 2rem; */
}
.nav-properties {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  padding-right: 1rem;
  height: 10vh;
}
@media screen and (min-width: 900px) {
  nav i {
    visibility: hidden;
  }
  nav h4 {
    display: grid;
    margin-left: 4rem;
    margin-top: 0.7rem;
  }

  .allsec {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  nav h2 {
    margin-left: 4rem;
  }
}

/*
=============== 
Sidebar
===============
*/
.side-bar {
  background: var(--clr-primary-10);
  height: 90vh;
  position: relative;
}
.siden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
}
.liner,
.about-line {
  height: 0.3rem;
  width: 5rem;
  background: var(--clr-primary-5);
}
.siden h1 {
  margin-top: 1rem;
}
.siden h4 {
  margin-bottom: 2rem;
  color: var(--clr-grey-6);
}
.siden a {
  margin-bottom: 2rem;
}
.ions a {
  font-size: 2rem;
  color: var(--clr-grey-1);
  margin-right: 2rem;
}
.imageA {
  height: 26rem;
  width: 18rem;
  display: none;
  border-radius: var(--radius);
  float: right;
  margin: 14vh 10vw;
  border-radius: 8px;
  position: relative;
}
.imageA img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: -1;
  position: absolute;
  z-index: 3;
}
.imageA::before {
  content: "";
  width: 18rem;
  height: 26rem;
  border: 5px solid var(--clr-primary-5);
  position: absolute;
  border-radius: 16px;
  top: 2rem;
  left: 2rem;
  /* z-index: -2; */
}
@media screen and (min-width: 1000px) {
  .imageA {
    display: block;
    margin-right: 19vw;
  }
}
@media screen and (min-width: 1150px) {
  .siden {
    margin-left: 10rem;
  }
}

/*
=============== 
Hero
===============
*/
/* underline added to globals */

/*
=============== 
About
===============
*/

.about-pic img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.about-pic {
  height: 28rem;
  width: 20rem;
  margin: 4rem auto;
  position: relative;
  z-index: 2;
}
.about-upper {
  margin-left: 2rem;
}
.about-line {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1000px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: -3rem;
  }
  .about-upper {
    margin-top: 4rem;
    margin-right: 6rem;
  }
  .about-pic {
    margin-left: 15rem;
  }
  .about-pic::before {
    content: "";
    width: 20rem;
    height: 28rem;
    border: 5px solid var(--clr-primary-5);
    position: absolute;
    border-radius: 16px;
    top: 2rem;
    left: -2rem;
    z-index: 1;
  }
  .about-pic img {
    z-index: 4;
    position: absolute;
  }
}
@media screen and (min-width: 850px) {
  .about-upper {
    margin-right: 6rem;
  }
  .about-pic {
    margin-left: 13rem;
  }
}
/* section title added to globals */

/*
=============== 
Services
===============
*/
.services-text {
  text-align: center;
  padding-top: 3rem;
}
.services .liner {
  margin: 0 auto;
}
.services {
  margin-top: 3rem;
  background: var(--clr-grey-10);
  padding-bottom: 3rem;
}
.eachbox {
  width: 90%;
  padding: 2rem auto;
  display: grid;
  justify-content: center;
  background: var(--clr-white);
  margin: 2rem auto;
  margin-bottom: 3rem;
  border-radius: 6px;
  transition: var(--transition);
}
.eachbox i {
  margin: 0.5rem auto;
  font-size: 2rem;
  margin-top: 2.5rem;
}
.eachbox h3 {
  margin: 1rem auto;
  font-size: 1.5rem;
}
.eachbox h7 {
  margin: 0 auto;

  margin-bottom: 5rem;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
  width: 80%;
}
.eachbox:hover {
  color: white;
  background: var(--clr-primary-5);
}
.eachbox h7:hover {
  color: var(--clr-white);
}
@media screen and (min-width: 700px) {
  .service-allbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 850px) {
  .service-allbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1170px) {
  .service-allbox {
    width: 85%;
    margin: 0rem auto;
  }
}
/* small screen layout setup */
/* bg-grey in globals */

/*
=============== 
Projects
===============
*/
.all-projects {
  margin-bottom: 6rem;
}
.project-title {
  margin: 3rem auto;
  text-align: center;
}
.project-title .liner {
  margin: 0 auto;
}
.project-title p {
  width: 28rem;
  margin: 0 auto;
  padding-top: 2rem;
}
.lermar {
  height: 14rem;
  width: 90vw;
  background: var(--clr-primary-5);
  margin: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2rem;
  position: relative;
  /* border: 3px solid black transparent; */
  cursor: pointer;
}
.lermar img {
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
  object-fit: cover;
  opacity: 1;
  transition: var(--transition);
  position: absolute;
}
.lermar::after {
  content: "";
  height: 100%;
  width: 100%;
  border: 0.25rem solid var(--clr-white);
  opacity: 0;
  transition: var(--transition);
  position: absolute;
  border-radius: var(--radius);
}
.pro-text {
  position: absolute;
  opacity: 0;
  color: var(--clr-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pro-text p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
}
.lermar:hover {
  background: var(--clr-primary-5);
}
.lermar:hover img {
  opacity: 0.1;
}
.lermar:hover::after {
  transform: scale(0.8);
  opacity: 1;
}
.lermar:hover .pro-text {
  opacity: 1;
  text-align: center;
}
.pro-no img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .pro-no {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    /* margin: 2rem 0.3rem; */
    margin: 0 2rem;
  }
  .lermar {
    max-width: 27rem;
    width: 21rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .pro-no {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.2rem;
  }
  .lermar {
    max-width: 25rem;
    width: 27vw;
    margin: 1rem 1rem;
  }
}
@media screen and (min-width: 1170px) {
  .pro-no {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-row-gap: 6rem;

    height: 70vh;
  }
  .lermar img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/*
=============== 5
Connect
===============
*/
/*
=============== 
Skills
===============
*/
.skills {
  background: var(--clr-primary-9);
  padding: 4rem 0;
}
.skill-diag {
  height: 1rem;
  width: 90%;
  background-color: var(--clr-white);
  margin: 1rem 5vw;
  border-radius: var(--radius);
  margin-bottom: 1.5rem;
  max-width: 29rem;
}
.picent {
  height: 100%;
  width: 50%;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  position: relative;
}
.skills h2 {
  text-align: center;
  margin-bottom: 3rem;
  /* font-size: 1.2rem; */
}
.skill h3 {
  margin-left: 5vw;
  font-weight: 100;
  color: var(--clr-grey-3);
  font-size: 1.2rem;
  letter-spacing: 0;
}
.picent h4 {
  font-weight: 50;
  color: var(--clr-primary-2);
  position: absolute;
  left: 90%;
  transform: translateY(-2.4rem);
  font-size: 0.9rem;
  letter-spacing: normal;
}
.vini {
  width: 70%;
}
.koke {
  width: 60%;
}
.first-title {
  margin-left: 5vw;
  margin-bottom: 2rem;
  color: var(--clr-primary-3);
}
@media screen and (min-width: 700px) {
  .skill-title {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1.5rem;
    /* width: 1170px; */
    margin: 3rem 3rem;
  }
}
/*
=============== 
Timeline
===============
*/
/*
=============== 
Blog
===============
*/
.blog-all {
  background: var(--clr-grey-10);
  padding: 2rem 0;
}
.blog-title {
  margin-top: 2rem;
  text-align: center;
}
.blog-title .liner {
  margin: 0 auto;
  /* padding-bottom: rem; */
  margin-bottom: 2rem;
}
.blog-1,
.blog-2,
.blog-3,
.blog-4 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  padding-bottom: 1rem;
}

.blog-1 img,
.blog-2 img,
.blog-3 img,
.blog-4 img {
  width: 100%;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 15rem;
  object-fit: cover;
}
.with-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 10%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.with-pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.blog-1 h5,
.blog-2 h5,
.blog-3 h5,
.blog-4 h5 {
  text-transform: capitalize;
  font-size: 1rem;
  padding-left: 1rem;
  width: 90%;
  font-weight: 100;
  padding-top: 1rem;
}
.blog-1 p,
.blog-2 p,
.blog-3 p,
.blog-4 p {
  padding: 0 1rem;
  width: 100%;


}

/*
=============== 
Footer
===============
*/
.footie {
  background: var(--clr-grey-1);
  height: 30vh;
  position: relative;
  text-align: center;
}
.ican {
  background: var(--clr-grey-1);
  color: var(--clr-primary-7);
  position: absolute;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  margin-left: auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.ican i {
  cursor: pointer;
}
footer h3 {
  color: var(--clr-primary-8);

  letter-spacing: normal;
  font-weight: 200;
  transform: translateY(400%);
}
@media screen and (min-width: 800px) {
  .allblogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  .allblogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
/*
=============== 
Single Page
===============
*/
/*
=============== 
Products Page
===============
*/
